R2_BUCKET=creativelabth-private
R2_PUBLIC_BUCKET=creativelabth-public
R2_PRIVATE_BUCKET=creativelabth-private
R2_ENDPOINT=https://6e6a9fede9c8d85acb3794e92883e9b0.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
NEXT_PUBLIC_ASSET_BASE_URL=https://cdn.creativelabth.com
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
RESEND_API_KEY=
RESEND_FROM_EMAIL="Chao Ngo <noreply@creativelabth.com>"
